#map {
    height: 80vh;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#inputForm {
    display: none;
    position: absolute;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 5;
}

#refreshButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 5;
}
